<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="box">
        <h2>Sign-up</h2>
        <form action="" method="post">
            <div class="inputBox">
                <input type="text" name="username" id="" required="">
                <label for="">Username</label>
            </div>
            <div class="inputBox">
                <input type="password" name="password" id="" required="">
                <label for="">Password</label>
            </div>
            <input type="submit" name="" value="submit">
        </form>
    </div>
</body>
</html>
